@import url(~bulma/css/bulma.css);
@import url(~sanitize.css/sanitize.css);
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        left: 3em; 
        opacity: 0;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

#main {
    display: flex;
    flex-flow: column;
}

@media (min-width: 768px) {
    #main {
        margin: 0 20vw;
    }
}

@media (max-width: 767px) {
    #main {
        width: 100%;
    }
}

.problem {
    letter-spacing: 0.2em;
}

.choice {
    display: flex;
    flex: 1;
    height: 50vh;
    list-style: none;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .choice {
        flex-flow: column;
    }
}

@media (max-width: 767px) {
    .choice {
        flex-flow: row wrap;
    }
}

.fade-in-active {
    animation-name: fadeIn;
    animation-duration: 2s;
}

.choice .button {
    width: 40vw;
    height: 10vh;
}

.choice {
    text-align: left;
}

.num {
    border: solid 0.05em #000000;
    border-radius: 1em;
    color: white;
}

.num1 {
    background-color: #CC99FF;
}

.num2 {
    background-color: #339966;
}

.num3 {
    background-color: #3399FF;
}

.num4 {
    background-color: #FF6633;
}

.correct {
    animation-name: fadeOut;
    animation-duration: 3s;
    background-color: #fff;
    border: solid 6px #00b1f4;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0 0 0 3px #00b1f4;
}

.incorrect {
    animation-name: fadeOut;
    animation-duration: 3s;
    display: inline-block;
    position: relative;
    margin: 0 20px 0 7px;
    padding: 0;
    width: 8px;
    height: 40px;
    background: red;
    transform: rotate(45deg);
}

.incorrect:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    width: 40px;
    height: 8px;
    margin-top: -4px;
    background: red;
}